---

---

<html lang="en"  data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>External-API-Data (using PokeAPI)</title>
	</head>
	
	<body class="font-mono m-5 " data-theme="light">

		

		

		<slot/>


	</body>
</html>
